<h1>投稿ページ</h1>

<%= form_with model: @tip do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :problem %>
    <%= form.text_area :problem %>
  </div>
  <div>
    <%= form.label :hypothesis %>
    <%= form.text_area :hypothesis %>
  </div>
  <div>
    <%= form.label :action %>
    <%= form.text_area :action %>
  </div>
  <div>
    <%= form.label :learning %>
    <%= form.text_area :learning %>
  </div>
  <div>
    <%= form.label :category_id %>
    <%= form.collection_radio_buttons :category_id, Category.order(:name), :id, :name %>
  </div>


  <%= form.submit "投稿する" %>
<% end %>
